
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

body {
  margin: 0%;
  padding:0%;
  overflow: hidden;
  cursor: url('/src/img/cursor_final.PNG');
}


menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}


#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Asegúrate de que esté por encima de todo */
}

/* Loader animation */
.loader {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Loader text */
.loader-text {
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* Spinner animation keyframes */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#start-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(232, 212, 165);
  color: rgb(81, 23, 23);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Asegúrate de que esté por encima de todo */
  font-family: Arial, sans-serif;
  text-align: center;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

#start-screen h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  font-family: "Reenie Beanie", cursive;
  font-weight: 800;
  font-style: normal;;
}

#start-screen p {
  font-size: 1.2rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.logo {
  width: 8%;
  height: auto;
  margin-bottom: 1rem;
}